{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Check your answers before sending your application
      </h1>

      <!-- only add a heading for a list if there is more than one list -->
      <h2 class="govuk-heading-m">
        Personal details
      </h2>

      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `app-check-your-answers--short` for short questions -->
      <!--   * `app-check-your-answers__questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            How many balls can you juggle?
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data['juggling-balls']}}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/juggling-balls">
              Change<span class="govuk-visually-hidden"> how many balls you can juggle</span>
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            What is your most impressive juggling trick?
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data['juggling-tricks']}}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="juggling-tricks">
              Change<span class="govuk-visually-hidden"> what is your most impressive juggling trick</span>
            </a>
          </dd>
        </div>

      </dl>

      <p>
        By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <a class="govuk-button" href="confirmation" role="button">
        Accept and send application
      </a>

    </div>
  </div>
{% endblock %}
